img{
    width:80%; 
    height:80%;
    padding-left: 20%;
}

#primeiroparagrafo{
    font-family: fantasy;
    padding-left: 45%;
}

#segundoparagrafo{
    font-family: monospace;
    padding-left: 42.5%;
}

.buttons{
    padding-left: 43%;

}