<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minha livraria</title>
</head>
<h1>
  Livraria Exemplo
</h1>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Coluna 1</h2>
        <img src="imagem.jpg" class="img-fluid" alt="Imagem Responsiva">
        <p>Conteúdo da coluna 1...</p>
      </div>
      <div class="col-md-6">
        <h2>Coluna 2</h2>
        <p>Conteúdo da coluna 2...</p>
      </div>
    </div>
  </div>
</body>
</html>
